<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 0.0.1
  </div>
  <strong>Copyright &copy;<%= Date.today.year %> <a href="#">Spericorn</a>.</strong> All rights
    reserved.
</footer>